<div class="container main-repos">

	<div class="row">
		<div class="column">
			<img width="150" alt="Angular Logo" src="/assets/images/github.png">
			<br><br>
			<h1>¡Bienvenido a mis <strong style="color: #9b4dca">Repositorios</strong>!</h1>
		</div>
	</div>

	<div class="row">
		<div class="column">
			<div class="repo-list">
				<div class="repo-item" *ngFor='let repo of repos'>
					<a href="{{ repo.html_url }}">
						<h3>{{ repo.name }}</h3>
						<h4><code>{{ repo.full_name }}</code></h4>
						<p>{{ repo.description }}</p>
						<strong>{{ repo.updated_at }}</strong>
					</a>
				</div>
			</div>
		</div>
	</div>

</div>